body{
    color: aliceblue;
}
h1{
    color: yellow;
}
h3{
    color: yellow;
}
label{
    color: rgb(161, 111, 18);
}
li{
    color: rgb(161, 111, 18);
}
th{
    color: rgb(161, 111, 18);
}
td{
    color: rgb(161, 111, 18); 
}

